header {
  background-color: #13005a;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  color: white;
}

main {
  text-align: center;
  margin-top: 20%;
}

main > p {
  font-size: 30px;
}

section {
  display: flex;
  justify-content: center;
  margin: 10px;
}

section > button {
  margin: 10px;
  padding: 20px;
}

button {
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

button:hover {
  background-color: aqua;
}
